/* General Waybar Styling */
* {
  border: none;
  font-family: 'Hurmit Nerd Font';
  font-size: 18px;
  min-height: 30px;
  color: #F4E3C1;
}

#waybar {
  background-color: #1C1B1A;
  border-radius: 10px;
  padding: 5px;
}

/* Left Section */
#custom-arch, #workspaces {
  border-radius: 10px;
  margin-top: 5px;
  margin-left: 5px;
  padding: 5px 10px;
  opacity: 0.93;
  border: 2px solid #73A857;
  background: #1C1B1A;
}

#custom-arch:hover, #workspaces:hover {
  background: #73A857;
}

/* Workspace Buttons */
#workspaces button {
  padding: 0 10px;
  margin: 0 5px;
  color: #F4E3C1;
  background: transparent;
  border: none;
  border-radius: 5px;
  min-width: 30px;
}

#workspaces button:hover {
  background: transparent;
}

#workspaces button.active {
  background: #1C1B1A;
  color: #F4E3C1;
  border: none;
}

/* Center Section */
#custom-playerctl, #custom-spotify, #custom-weather, #custom-hyprclock, #taskbar {
  border-radius: 10px;
  margin: 5px;
  padding: 5px 10px;
  color: #F4E3C1;
  opacity: 0.93;
  border: 2px solid #D13438;
  background: #1C1B1A;
}

#custom-playerctl:hover, #custom-spotify:hover, #custom-weather:hover, #custom-hyprclock:hover, #taskbar:hover {
  background: #D13438;
}

/* Weather Popup Styling */
#custom-weather > tooltip {
  background-color: #1C1B1A;
  color: #F4E3C1;
  border: 1px solid #D13438;
  border-radius: 8px;
  padding: 10px;
  font-family: 'Hurmit Nerd Font';
  font-size: 14px;
}

/* Taskbar Buttons */
#taskbar button {
  padding: 0 5px;
  margin: 0 5px;
  color: #F4E3C1;
  background: transparent;
  border: none;
  border-radius: 5px;
}

#taskbar button:hover {
  background: transparent;
}

/* Right Section */
#pulseaudio, #network, #custom-cpu-usage, #custom-gpu-usage, #custom-disk-usage, #custom-volume_control {
  border-radius: 10px;
  margin-top: 5px;
  margin-right: 5px;
  padding: 5px 10px;
  opacity: 0.93;
  border: 2px solid #AA9E87;
  background: #1C1B1A;
}

#pulseaudio:hover, #network:hover, #custom-cpu-usage:hover, #custom-gpu-usage:hover, #custom-disk-usage:hover, #custom-volume_control:hover {
  background: #AA9E87;
}
