/* Wofi container background */
window {
    background-color: #333333; /* Change this to your waybar background color */
    color: #ffffff;            /* Change this to your waybar text color */
    border: 1px solid #23b555; /* Optional: if you have borders in waybar */
    opacity: 0.9; /* Opacity
}

/* Wofi entries: */
entry {
    background-color: #222222; /* Slightly darker background for each entry */
    color: #a2a3a2;            /* Text color inside entries */
}

/* Hover and active states for entries */
entry:selected, entry:active {
    background-color: #555555; /* Highlight color when an entry is selected */
    color: #000000;            /* Text color for selected entries */
}

