* {
	background-image: none;
	box-shadow: none;
}

window {
	background-color: rgba(12, 12, 12, 0.9);
}

button {
    border-radius: 1x;
    border-color: black;
	text-decoration-color: #FFFFFF;
    color: #FFFFFF;
	background-color: #A1CFF0;
	border-style: solid;
	border-width: 1px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 25%;
}

button:focus, button:active, button:hover {
	background-color: #6DA896;
	outline-style: none;
}

#lock {
    background-image: image(url("~/.config/wlogout/icons/lock.png"), url("~/.config/wlogout/icons/lock.png"));
}

#logout {
    background-image: image(url("~/.config/wlogout/icons/logout.png"), url("~/.config/wlogout/icons/logout.png"));
}

#suspend {
    background-image: image(url("~/.config/wlogout/icons/suspend.png"), url("~/.config/wlogout/icons/suspend.png"));
}

#hibernate {
    background-image: image(url("~/.config/wlogout/icons/hibernate.png"), url("~/.config/wlogout/icons/hibernate.png"));
}

#shutdown {
    background-image: image(url("~/.config/wlogout/icons/shutdown.png"), url("~/.config/wlogout/icons/shutdown.png"));
}

#reboot {
    background-image: image(url("~/.config/wlogout/icons/reboot.png"), url("~/.config/wlogout/icons/reboot.png"));
}
