[SddmGreeterTheme]
Name=blackbeard
Description=blackbeard os sddm theme
Type=sddm-theme
Version=2.1
Website=https://github.com/cvusmo/
Screenshot=preview.png
MainScript=Main.qml
ConfigFile=theme.conf
TranslationsDirectory=translations
Theme-Id=Blackbeard
Theme-API=2.0
License=MIT
QtVersion=6
